<div class="page-header">
  <h3>Bookmark #<%= @bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Photo</dt>
      <dd>
        <% if @bookmark.photo.present? %>
          <a href="/photos/<%= @bookmark.photo_id %>">
            <%= @bookmark.photo.caption %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @bookmark.user.present? %>
          <a href="/users/<%= @bookmark.user_id %>">
            <%= @bookmark.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookmarks" class="btn btn-primary">
        Back
      </a>
      <a href="/bookmarks/<%= @bookmark.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
